.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  margin-bottom: 5vmin;
}

.App-header {
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-ui {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 50vw;
  background: black;
  color: white;
  overflow: hidden;

  font-family: monospace;
  font-size: calc(10px + 2vmin);
}

.App-prompt {
  display: flex;
  flex-direction: row;
}

.App-input {
  font-family: monospace;
  font-size: calc(10px + 2vmin);
  border: none;
  background: none;
  color: white;
  flex-grow: 1;
  outline: none;
}

.App-results {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50vmin;
}


